<h1><%= search_results.member_count %> Results</h1>

<% search_results.members.each do |member| %>
  <ul class="member">
    <li class="name">Name: <%= member.name %></li>
    <% if member.role %>
      <li class="role">Role: <%= member.role %></li>
    <% else %>
      <li class="role">Role: No role for this member</li>
    <% end %>
    <li class="house">House: <%= member.house %></li>
    <% if member.patronus %>
    <li class="patronus">Patronus: <%= member.patronus %></li>
    <% else %>
      <li class="patronus">Patronus: No patronus for this member</li>
    <% end %>
  </ul>
<% end %>
