<h1><%= search_results.member_count %> Results</h1>

<% search_results.members.each do |member| %>
  <ul class="member">
    <li class="name"><%= member.name %></li>
    <% if member.role %>
      <li class="role"><%= member.role %></li>
    <% else %>
      <li class="role">No role for this member</li>
    <% end %>
    <li class="house"><%= member.house %></li>
    <% if member.patronus %>
    <li class="patronus"><%= member.patronus %></li>
    <% else %>
      <li class="patronus">No patronus for this member</li>
    <% end %>
  </ul>
<% end %>
